@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model WebApplication1.Models.Task

<div class="container-fluid">
    <h1>ViewTask</h1>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tasks name:</li>
        <li class="list-group-item">@Model.Name</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tasks theme:</li>
        <li class="list-group-item">@Model.Theme</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tasks tags:</li>
        <li class="list-group-item">@Model.Tags</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tasks estimated answers:</li>
        <li class="list-group-item">@Model.EstimatedAnswer1, @Model.EstimatedAnswer2, @Model.EstimatedAnswer3</li>
    </ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-controller="Home" asp-action="SolveTask" class="form-group">
            <label asp-for="UsersAnswer">Your answer:</label>
            <input asp-for="UsersAnswer" />
            <input type="hidden" value="UsersAnswer" />
            <input type="hidden" value="Model" />
            <input type="submit" value="Confirm"/>
        </form>
    }
    else
    {
<div class="form-group">
    <label asp-for="UsersAnswer">Your answer:</label>
    <input asp-for="UsersAnswer" />
    <input type="submit" value="Confirm" disabled/>
</div>
    }
</div>